<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Module.Market</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="divider divider-accent">powered by Commune.Ai</div>

<div class="flex justify-center">
    <div class="grid grid-cols-3 gap-10">
    <%- include('partials/moduleCard.ejs') %>
    </div>
</div>
</body>
</html>